<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manifiesto para el desarrollador agil de software</title>
    <link rel="stylesheet" href="./../../../assets/styles/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="nav-logo-container">
        <img src="./../../../assets/img/logo_cv.png" alt="logo_cv" class="nav-logo"/>
        <p class="nav-title">Documentacion</p>
      </div>
      <button class="open-menu" id="open"><i class="fa-solid fa-bars"></i></button>
      <nav class="nav-bar" id="nav">    
        <button id="close" class="close-menu"><i class="fa-solid fa-x" style="color: white;"></i></button>
        <ul class="nav-list">
          <li><a href="./../../../index.html">Inicio</a></li>
          <li><a href="./../../documentation.html">Documentación</a></li>
          <li><a href="./../../certification.html">Certificaciones</a></li>
          <li><a href="./../../contact.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main class="principal-container">
      <section>
        <a href="./../../documentation.html" class="arrow-link"><i class="fa-solid fa-arrow-left arrow-left-icon" style="display: flex; justify-content: center; align-items: center;"></i></a>
        <div class="box-title">
          <h3>Manifiesto para el desarrollador agil de software</h3>
          <p>Individuos e interacciones sobre procesos y herramientas</p>
        </div>
        <ul class="list-agil">   
          <h3>Principios detras del manifiesto agil</h3>
          <li>Nuestra maxima prioridad es satisfacer al cliente mediante la entrega temprana y continua de software valioso.</li>
          <li>Da la bienvenida a los requisitos cambiantes, incluso al final del desarrollo. los procesos agiles aprovechan el cambio para la ventaja competitiva del cliente.</li>
          <li>Entregue software que funcione con frecuencia, desde un par de semanas hasta un par de meses, con preferencia a la escala de tiempo mas corta.</li>
          <li>Los empresarios y los desarrolladores deben trabajar juntos a diario durante todo el proyecto.</li>
          <li>Construir proyectos en torno a personas motivadas. Brindeles el entorno y el apoyo que necesitan, y confie en ellos para hacer el trabajo.</li>
          <li>El metodo mas eficiente y efectivo para transmitir informacion a un equipo de desarrollo y dentro de el es una conversacion cara a cara.</li>
          <li>El software que funciona es la medida principal del progreso.</li>
          <li>Los procesos agiles promueven el desarrollo sostenible. Los patrocinadores, desarrolladores y usuarios deberian poder mantener un ritmo constante indefinidamente.</li>
          <li>La atencion continua a la excelencia tecnica.</li>
          <li>La simplicidad, el arte de maximizar la cantidad de trabajo no realizado, es ensencial.</li>
          <li>Las mejores arquitecturas, requisitos y diseños surgen de equipos autoorganizados.</li>
          <li>A intervalos regulares, el equipo reflexiona sobre como volverse mas efectivo, luego sintoniza y ajusta su comportamiento en consecuencia.</li>
        </ul>
      </section>
    </main>
    <footer class="footer_container">
      <p style="margin: 30px 0;">© 2025 - Todos los derechos reservados</p>
    </footer>
    <script type="text/javascript" src="./../../../assets/javascript/main.js"></script>
  </body>
</html>