<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publicar/Redireccionar/Obtener</title>
    <link rel="stylesheet" href="./../../../assets/styles/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="nav-logo-container">
        <img src="./../../../assets/img/logo_cv.png" alt="logo_cv" class="nav-logo"/>
        <p class="nav-title">Documentacion</p>
      </div>
      <button class="open-menu" id="open"><i class="fa-solid fa-bars"></i></button>
      <nav class="nav-bar" id="nav">    
        <button id="close" class="close-menu"><i class="fa-solid fa-x" style="color: white;"></i></button>
        <ul class="nav-list">
          <li><a href="./../../../index.html">Inicio</a></li>
          <li><a href="./../../documentation.html">Documentación</a></li>
          <li><a href="./../../certification.html">Certificaciones</a></li>
          <li><a href="./../../contact.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <main class="principal-container">
      <section>
        <p>Publicar/Redireccionar/Obtener</p>
        <p>
          Publicar/Redireccionar/Obtener(PRG) es un patron de diseño de desarrollo web que permite que la pagina que se muestra despues de enviar un formulario se vuelva a cargar, compartir o marcar sin 
          efectos negativos, como enviar el formulario en otro momento. 

          Cuando se envia un formulario web a un servidor a traves de una solictud HTTP POST, los intentos de actualizar la respuesta del servidor pueden hacer que se vuelva a enviar el contenido del POST original,
          lo que posiblemente provoque resultados no deseados, como una compra web duplicada. Algunos navegadores mitigan eset riesgo advirtiendo al usuario que esta a punto de volver a emitir una solicitud POST.

          para evitar este problema, muchos desarrolladores web utilizan el patron PRG: en lugar de responder con contenido , el servidor responde a una solicitud POST redirigiendo al cliente a otra ubicacion. la 
          especificacion HTTP 1.1 introdujo el codigo de respuesta HTTP 303 ("Ver otro") para garantizar que , en esta situacion, los navegadores puedan actualizar de forma segura la respuesta del servidor sin que 
          se vuelva a enviar la solicitud POST inicial.

          El patron PRG no puede abordar todos los escenarios de envio de formularios duplicados. por ejemplo, si un usuario web actualiza antes de que se complete el envio inicial, posiblemente debido  a un retraso
          del servidor , se produce un POST duplicado en ciertos agentes de usuario.
        </p>
      </section>
    </main>
    <footer class="footer_container">
      <p style="margin: 30px 0;">© 2025 - Todos los derechos reservados</p>
    </footer>
    <script type="text/javascript" src="./../../../assets/javascript/main.js"></script>
  </body>
</html>