<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios</title>
    <link rel="stylesheet" href="./../assets/styles/exercises/exercises.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <form id="miFormulario">
      <input type="date" id="fecha">
      <button type="button" onclick="leerFormulario()" id="boton">Envia</button>
    </form>
    <p id="output"></p>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>
  <!-------------------------------------------------------------->
  <!-- ejercico 0010

    en este ejercicio creamos un formulario que va a captar un dato del usuario y lo va a enviar con
    un boton vemos que el boton tiene un evento javascript llamado onclick el cual funciona cuando le damos
    click al elemento boton y la funcion de javascript se coloca como su valor el cual es leerFormulario()
    tambien tenemos un elemento output el cual despues de ejecutar la el formulario tendra un valor el cual 
    se puede ver en la funcion javascript y el la fecha ingresada con un mensaje
      
  -->
  <!-- 
  <body>
    <form id="miFormulario">
      <input type="date" id="fecha">
      <button type="button" onclick="leerFormulario()" id="boton">Envia</button>
    </form>
    <p id="output"></p>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!--<body>
    <p id="output"></p>
    <img id=""/>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!--<body>
    <p id="output"></p>
    <img id="carita"/>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!-- ejercicio seis -->
  <!--<body>
    <p id="output"></p>
    <img id="carita"/>
    <p id="day"></p>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!-- ejercicio cinco -->
  <!--<body>
    <ul id="numeros">
      <li>uno</li>
      <li>dos</li>
      <li>tres</li>
    </ul>
    <p id="output"></p>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!-- ejercicio cuatro -->
  <!--<body>
    <p id="output"></p>
    <img id="carita"/>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!-- ejercicio uno , dos y tres (utilizan la misma base html para los ejercicios) -->
  <!--<body>
    <p id="output"></p>
    <script type="text/javascript" src="./assets/javascript/ejercicios.js"></script>
  </body>-->
</html>