<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicios</title>
    <link rel="stylesheet" href="./../assets/styles/exercises/exercises.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
  </head>
  <body>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>

  <!-- ejercicio 0014 y 0015 -->
   <!-- Este es el html para el ejercicio 14 y 15 en el cual gracias a un click en una caja podemos 
     modificar el color de fondo de un elemento y el color de texto de un elemento 
   -->
  <!--<body>
    <div class="colorPicker" id="negro" style="background-color: black;"></div>
    <div class="colorPicker" id="blanco" style="background-color:  white;"></div>
    <div style="clear: both;"></div>
    <div id="texto" style="width: 400px; height: 400px; border-style: solid;"> aca se supone que va un texto largo Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ratione suscipit praesentium nemo exercitationem molestias vitae, libero quam repudiandae amet, dolor iusto. Fuga laudantium ipsum explicabo, officia molestiae a hic!</div>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  
  <!-- ejercicio 0013 -->
  <!--
    En este ejercicio vemos que tenemos un formulario para tomar una fecha con un input y tenemos un boton para hacer una accion
    tambien contamos con un elemento para colocar informacion 
    tomamos la fecha , capturamos el onclick y se dispara la funcion de javascript cuando entra en el archivo de javascript primero
    agrega al elemento button el addeventListener y ejecuta la funcion
  -->
  <!--
    <body>
      <form id="miFormulario">
        <input type="date" id="fecha">
        <button type="button" onclick="leeFormulario()" id="boton">Envia</button>
      </form>
      <p id="output"></p>
      <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
    </body>
  -->
  <!----------------------------------------------------------------->
  <!--ejercicio 0012-->
  <!--
    en este ejercicio ingresamos una fecha y nuestra funcion nos dira cuanto falta para ese dia o si el dia ya 
    paso calculando con el dia actual en que activamos la funcion
  -->
  <!--<body>
    <form>
      <input type="date" id="fecha">
      <button type="button" onclick="cuantosDias()" id="boton">Calcula cuantos dias faltan para la fecha seleccionada</button>
    </form>
    <p id="output"></p>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!--ejercicio 0011-->
  <!--
    en este ejercicio tenemos un input que toma una fecha y tambien un boton que ejecuta una funcion 
    leerFormulario el cual toma el dato del input y lo coloca en el elemento p como texto 
  -->
  <!--<body>
    <form id="miFormulario">
      <input type="date" id="fecha">
      <button type="button" onclick="leerFormulario()" id="boton">Envia</button>
    </form>
    <p id="output"></p>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!-- ejercico 0010

    en este ejercicio creamos un formulario que va a captar un dato del usuario y lo va a enviar con
    un boton vemos que el boton tiene un evento javascript llamado onclick el cual funciona cuando le damos
    click al elemento boton y la funcion de javascript se coloca como su valor el cual es leerFormulario()
    tambien tenemos un elemento output el cual despues de ejecutar la el formulario tendra un valor el cual 
    se puede ver en la funcion javascript y el la fecha ingresada con un mensaje
      
  -->
  <!-- 
  <body>
    <form id="miFormulario">
      <input type="date" id="fecha">
      <button type="button" onclick="leerFormulario()" id="boton">Envia</button>
    </form>
    <p id="output"></p>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!--<body>
    <p id="output"></p>
    <img id=""/>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!--<body>
    <p id="output"></p>
    <img id="carita"/>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!-- ejercicio seis -->
  <!--<body>
    <p id="output"></p>
    <img id="carita"/>
    <p id="day"></p>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!-- ejercicio cinco -->
  <!--<body>
    <ul id="numeros">
      <li>uno</li>
      <li>dos</li>
      <li>tres</li>
    </ul>
    <p id="output"></p>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!-- ejercicio cuatro -->
  <!--<body>
    <p id="output"></p>
    <img id="carita"/>
    <script type="text/javascript" src="./../assets/javascript/ejercicios.js"></script>
  </body>-->
  <!-------------------------------------------------------------->
  <!-- ejercicio uno , dos y tres (utilizan la misma base html para los ejercicios) -->
  <!--<body>
    <p id="output"></p>
    <script type="text/javascript" src="./assets/javascript/ejercicios.js"></script>
  </body>-->
</html>