.principal-container {
  display: flex;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: auto;
}
  
.left {
  flex: 7;
  padding: 1rem;
}
  
.left section {
  margin-bottom: 1rem;
  padding: 0.5rem;
}
  

.right {
  flex: 2; 
  padding: 1rem;
  background-color: #f4f4f4;
}
  
.right aside {
  padding: 0.5rem;
  background-color: #195770;
  border-radius: 5px;
}
  
  
@media (max-width: 768px) {
  main {
    flex-direction: column;
  }
  .left, .right {
    flex: 1;
  }
}

/*------section one-----------*/
.section_one{
  display: flex; 
  flex-direction: column;
}

.img_profile {
  width: 20%; 
  height: 230px;
  border-radius: 10%;
  object-fit: cover;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.presentation_card{
  display: flex; 
  align-items: center; 
  padding: 50px 20px;  
  gap: 5%;
  justify-content: center;
  background-image: url('./../../img/presentation_card.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.presentation_card .principal_info{
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 70%;
}

.presentation_card .principal_info .container_pri_inf{
  text-align: center; 
  padding: 10px;
}

.presentation_card .principal_info .container_pri_inf h2{font-size: 40px;}

.presentation_card .principal_info .container_pri_inf h3{font-size: 20px;margin:10px 0;}


.presentation_card .secondary_info{
  display: flex; 
  justify-content: space-between; 
  width: 100%; 
  padding: 0 15%;
}

.presentation_card .secondary_info i{
  font-size: 50px;
  color: #333;
  transition: transform 0.3s ease, color 0.3s ease;
}

.presentation_card .secondary_info .linkedin:hover {
  transform: scale(1.5);
  color: #0077B5;
}

.presentation_card .secondary_info .phone:hover {
  transform: scale(1.5);
  color: #25D366;
}

.presentation_card .secondary_info .email:hover {
  transform: scale(1.5);
  color: #EA4335;
}

.presentation_card .secondary_info .map:hover {
  transform: scale(1.5);
  color: #34A853;
}

.presentation_card .experience{
  padding: 5px; 
  margin-top: 5px;
  text-align: center;
}

.card_profile{
  background-color: white; 
  margin-top: 20px;
  padding: 20px; 
  text-align: center; 
  border-radius: 5px; 
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card_profile_title{
  font-size: 25px; 
  font-weight: bold;
}

.card_profile_paragraph{
  margin-top: 10px; 
  letter-spacing: 1px;
}

/*------section two-----------*/
.container_sec_inf{
  padding: 7px; 
  display: flex; 
  flex-direction: column;
}

.experience_title{
  text-align: center; 
  font-size: 25px; 
  font-weight: bold; 
  margin: 15px 0; 
  background-color: white; 
  border-radius: 10px;
}

.card_experience_company{
  background-color: white; 
  border-radius: 5px; 
  padding: 20px;  
  border: 1px solid #ccc; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card_title_box{
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  margin: 10px 0; 
  align-items: center;
}

.card_company{
  font-weight: bold; 
  font-size: 20px;
}

.card_time_main{
  display: flex;
  flex-direction: column;
}

.card_time{
  background-color: #c8e6c9; 
  border: 1px solid #a5d6a7; 
  padding: 5px; 
  border-radius: 5px; 
  font-weight: 500;
  margin-top: 2px;
  text-align: center;
}

.card_paragraph{
  letter-spacing: 1px; 
  margin-top: 10px;
}