.title-cert{
  text-align: center; 
  font-size: 35px;
  background-color: white;
  width: 50%;
  border-radius: 10px;
  margin: 0 auto;
}

#galeria{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 2px;
  max-width: 700px;
  padding: 0 10px;
  margin: 20px auto;
}

@media (max-width: 412px) {
  .title-cert{
    font-size: 20px;
    width: 80%;
  }

  #galeria{
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
}

#galeria img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 412px) {
  #galeria img{
    width: 90%;
  }
}


#img-activa{
    width: 100%;
    height: auto;
}

/*contenedor principal*/

#principal-container{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0, 0.65);
}

#contenedor-interno{
  width: 650px;
  height: 440px;
  border: 2px #f3f3f3 solid;
  padding: 2px;
  display: flex;
  justify-content: center;
  position: relative;
}

@media (max-width: 412px) {
  #principal-container{
    align-items: baseline;
  }

  #contenedor-interno{
    width: 280px;
    height: auto;
  }
}

/* Botones */

button{
 cursor: pointer;
 background: transparent;
 border: none;
 color: #f3f3f3;
}

#btn-cierra{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
}

#btn-retrocede{
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 3rem;
}

#btn-adelanta{
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 3rem;
}