.container-cert{
    background-color: white; 
    width: 90%; 
    margin: 0 auto;
}

.title-cert{
    text-align: center; 
    font-size: 35px;
}

.box-card-cert{
    background-color: #195770; 
    border-radius: 10px; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    padding: 20px; 
    justify-content: space-around; 
    margin: 15px 0;
}

.card-text{
    background-color: white; 
    border-radius: 10px; 
    padding: 10px 20px; 
    font-size: 20px; 
    font-weight: bold;
    width: 78%;
}

.card-img{
    display: flex; 
    flex-direction: row; 
    align-items: center;
    width: 18%;
}

.card-icon{
    color: white; 
    font-size: 30px; 
    margin-left: 30px;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}

.card-icon:hover{
    transform: scale(1.5);
}

.card-img img{
    border-radius: 10px; 
    width: 130px; 
    height: 100px;
}

@media (max-width: 768px) {

    .container-cert{
        width: 95%; 
    }
    
    .box-card-cert{ 
        flex-direction: column;   
    }

    .card-text{
        border-radius: 5px; 
        font-size: 16px; 
        font-weight: bold;
        width: 100%;
        text-align: center;
    }

    .card-img{
        display: flex; 
        flex-direction: column; 
        margin-top: 10px;
        width: 100%;
    }

    .card-icon{
        margin-left: 0;
        margin-top: 10px;
    }
}