.documentation-container{
    margin: 0 auto; 
    width: 88%
}

.box{
    display: flex; 
    flex-direction: column; 
    padding: 30px; 
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    
}

.box h3{
    text-align: center; 
    font-size: 30px;
}

.container-information{
    display: flex; 
    flex-direction: row; 
    margin-top: 20px;
}

.img-box{
    width: 50%; 
    justify-content: center; 
    display: flex;
    align-items: center;
}

.img-box img{
    width: 100%; 
    border-radius: 10px;
}

.link-box{
  border: 1px solid grey; 
  border-radius: 10px; 
  width: 50%; 
  display: flex; 
  flex-direction: column; 
  justify-content: center;
}

.link-box a{
  background-color: gray;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  color: white;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 810px) {
  .documentation-container{ 
    width: 100%
  }

  .box{
    padding: 20px;     
  }

}

@media (max-width: 412px){
  .container-information{ 
    flex-direction: column; 
  }

  .img-box{
    width: 100%;
    margin-bottom: 10px;
  }

  .link-box{
    width: 100%; 
  }
}